{% extends 'base.html.twig' %}

{% block title %}
    Créer un compte | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user_security_common') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user_security_common') }}
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Inscription</h1>

        <div class="alt-action">
            <span>Déjà inscrit ?</span>
            <a href="{{ path('user_security_login') }}" class="button water small">
                Me connecter
            </a>
        </div>

        {{ form_start(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.agreeTerms) }}

        <div class="form-actions">
            <button class="button">Inscription</button>
        </div>

        {{ form_end(form) }}
    </div>
    <div class="decoration"></div>
{% endblock %}
