{% extends 'pages/cooking/recipe-form/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cooking_recipe_form_details') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cooking_recipe_form_details') }}
{% endblock %}

{% block form %}
    {{ form_row(form.timer) }}

    {{ form_row(form.tags) }}

    <div class="row-group">
        <div>
            {{ form_row(form.quantityCounter) }}
            {{ form_row(form.cookingMethods) }}
        </div>
        {{ form_row(form.diets) }}
    </div>
{% endblock %}
