{% extends 'base.html.twig' %}

{% block title %}
    Création d'une recette | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('cooking_recipe_form_common') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('cooking_recipe_form_common') }}
{% endblock %}

{% block body %}
    <h1>Création d'une recette</h1>

    <div class="timeline-container">
        <ol class="timeline">
            {% set steps = enum_cases('App\\Enum\\Cooking\\DraftRecipeStatusEnum') %}
            {% for step in steps %}
                <li {{ step is same as draft.status ? 'class="active"' : '' }}>
                    <a href="#">
                        {{ step.value }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>

    {{ form_start(form) }}
    {% block form %}{% endblock %}

    <div class="form-actions">
        <button class="button water">
            Étape suivante
        </button>

        {% if enum('App\\Enum\\Cooking\\DraftRecipeStatusEnum').Metadata is not same as draft.status %}
            <a href="{{ path('cooking_recipe_form_rewind') }}" class="button water outline">
                Étape précédente
            </a>
        {% endif %}
    </div>
    {{ form_end(form) }}
{% endblock %}
