{% extends 'base.html.twig' %}

{% block title %}
    Se connecter | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Se connecter</h1>

    <form method="post" novalidate>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="email">Email</label>
        <input type="email" name="_username" id="email" value="{{ lastUserIdentifier }}" autocomplete="email" required autofocus>
        <label for="password">Mot de passe</label>
        <input type="password" name="_password" id="password" autocomplete="current-password" required>

        <label>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button>
            Connexion
        </button>
    </form>

    <a href="{{ path('security_reset_password_request') }}">Mot de passe oublié ?</a>
{% endblock %}
