{% extends 'base.html.twig' %}

{% block title %}
    Se connecter | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('security_common') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('security_common') }}
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Se connecter</h1>

        <div class="alt-action">
            <span>Pas encore inscrit ?</span>
            <a href="{{ path('security_register') }}" class="button water small">
                Nous rejoindre !
            </a>
        </div>

        <form method="post" novalidate>
            {% if error %}
                <ul class="form-errors">
                    <li>{{ error.messageKey|trans(error.messageData, 'security') }}</li>
                </ul>
            {% endif %}

            <div class="form-row">
                <label for="email">Email</label>
                <input type="email" name="_username" id="email" value="{{ lastUserIdentifier }}" autocomplete="email" required autofocus>
            </div>

            <div class="form-row">
                <label for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" autocomplete="current-password" required>
            </div>

            <div class="form-row">
                <input type="checkbox" name="_remember_me" id="remember-me">
                <label for="remember-me">Se souvenir de moi</label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-actions">
                <button class="button">
                    Connexion
                </button>

                <a href="{{ path('security_reset_password_request') }}">
                    Oups… J'ai oublié mon mot de passe
                </a>
            </div>
        </form>
    </div>
    <div class="decoration"></div>
{% endblock %}
