{% extends 'base.html.twig' %}

{% block title %}
    Mot de passe oublié | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('security_common') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('security_common') }}
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Mot de passe oublié</h1>

        {% if status %}
            <p class="information">
                Votre demande de réinitialisation de mot de passe a bien été prise en compte.<br>
                Si un compte est associé avec l'adresse email renseignée, vous allez recevoir un email contenant un lien de réinitialisation.
            </p>
        {% else %}
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            <button class="button">Confirmer</button>
            {{ form_end(form) }}
        {% endif %}
    </div>
    <div class="decoration"></div>
{% endblock %}
